* {
    padding: 0;
    margin: 0;
  }
  .posts {
    height: 420px;
    width: 300px;
    box-shadow: 0px 5px 35px #00000008;
    border-radius: 7px;
    opacity: 1;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .post-img {
    height: 200px;
    width: 300px;
  }
  .img1 {
    height: 200px;
    width: 300px;
    border-radius: 7px 7px 0px 0px;
  }
  .post-heading {
    width: 90%;
    text-align: left;
    font-size:  32px;
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
    margin: auto;
  }
  
  .post-content-box{
    width: 90%;
    height: 115px;
    text-align: left;
    font-size:  17px Open Sans;
    letter-spacing: 0px;
    color: #908D8D;
    opacity: 1;
    margin: auto;
  
  }
  .navigation-date{
    width: 90%;
    margin: auto;
    padding-top: 30px;
  }
  .navigation-1{
    width: 100%;
  height: 20px;
  text-align: left;
  font-size: 17px Montserrat;
  letter-spacing: 0px;
  color: #404040;
  opacity: 1;
  }
  .navigation-2{
    width: 100%;
  height: 15px;
  text-align: left;
  font: 17px Acumin Pro;
  letter-spacing: 0.85px;
  color: #404040;
  opacity: 0.24;
  
  }
  .navlink{
    text-decoration: none;
  }
  
  @media (min-width:320px) and (max-width:480px){
  
    .posts {
      height: 420px;
      width: 88%;
      box-shadow: 0px 5px 35px #00000008;
      border-radius: 7px;
      opacity: 1;
      margin-bottom: 10px;
      cursor: pointer;
      margin: auto;
      margin-bottom: 50px;
    }
    .post-img {
      height: 200px;
      width: 100%;
    }
    .img1 {
      height: 200px;
      width: 100%;
      border-radius: 7px 7px 0px 0px;
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  }