body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.active {
  background: #f08080;
  /* display: block; */
  height: 30px;
  width: 30px;
  border-radius: 25px;
}
* {
  margin: 0;
  padding: 0;
}
.homesection1 {
  width: 100%;
}
.logo {
  height: 140px;
  display: flex;
  text-align: center;
}
.logo1 {
  height: 130px;
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.logo2 {
  font-size: 32px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  transform: rotate(270deg);
  height: 50px;
  margin-top: 25px;
  padding-top: 10px;
}
.logo3 {
  font-size: 71px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-weight: bold;
}
.navbar {
  height: 50px;
  width: 100%;
}
.navbar1 {
  height: 50px;
  width: 80%;
  margin: auto;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
li {
  margin-left: -60px;
}
.navbar ul li .a {
  text-decoration: none;
  font-size: 18px;
  position: absolute;
  top: 149px;
  width: 125px;
  height: 25px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  text-align: center;
}

.a::after {
  content: " ";
  background-color: #000000;
  height: 1.67px;
  border-radius: 100px;
  width: 0%;
  position: absolute;
  top: 27px;
  left: 0px;
  transition: 0.3s;
  border: none;
}
.a:hover:after {
  width: 100%;
}
.togle{
  height: 30px;
  width: 30px;
}
.toglebutton{
  display: block;
  height: 30px;
  width: 30px;
  background-color: #f0f0f0;
  border-radius: 0 10px   10px  0;
  font-weight: bold;
  text-align: center;
  color: #b57c7c;
  padding-top: 5px;
}
hr {
  border: none;
  height: 2px;
  width: 85%;
  background-color: #f0f0f0;
  margin: auto;
}
.homesection1 {
  width: 100%;
  height: 506px;
    margin-top: 20px;  
  /* position: absolute;
  top: 230px; */
}
.homebox {
  width: 85%;
  height: 506px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 10px #0000001a;
}
.homebox1 {
  width: 64.3%;
  height: 506px;
  box-shadow: 0px 5px 10px #0000001a;
}
.homebox1img1 {
  width: 100%;
  height: 506px;
  background-image: url("/public/images/kristaps-ungurs-MAfrgFrl6BE-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 10px #0000001a;
  border-radius: 7px;
  opacity: 1;
}
.homebox1img1-p1 {
  position: relative;
  top: 300px;
  left: 10%;
  width: 100%;
  height: 49px;
  text-align: left;
  font-size: 40px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.homebox1img1-p2 {
  position: relative;
  top: 330px;
  left: 10%;
  width: 100%;
  height: 17px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #fcfcfc;
  opacity: 0.57;
}
.homebox2 {
  width: 35%;
  height: 506px;
  box-shadow: 0px 5px 10px #0000001a;
}
.homebox2img1 {
  width: 100%;
  height: 249px;
  background-image: url("/public/images/himalayas-3428651.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 10px #0000001a;
  border-radius: 7px;
  opacity: 1;
  margin-bottom: 7px;
}
.homebox2-p1 {
  position: relative;
  top: 115px;
  left: 20px;
  width: 100%;
  height: 39px;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.homebox2-p2 {
  position: relative;
  top: 115px;
  left: 20px;
  width: 100%;
  height: 39px;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.homebox2-p3 {
  position: relative;
  top: 125px;
  left: 20px;
  width: 100%;
  height: 17px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #1f1d1d;
  opacity: 0.57;
}

.homebox2img2 {
  width: 100%;
  height: 249px;
  background-image: url("/public/images/spenser-sembrat-y78EZ5d49B4-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 10px #0000001a;
  border-radius: 7px;
  opacity: 1;
}
.homebox2-p4 {
  position: relative;
  top: 115px;
  left: 20px;
  width: 100%;
  height: 39px;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.homebox2-p5 {
  position: relative;
  top: 115px;
  left: 20px;
  width: 100%;
  height: 39px;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.homebox2-p6 {
  position: relative;
  top: 140px;
  left: 20px;
  width: 100%;
  height: 17px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #fcfcfc;
  opacity: 0.57;
}

.post1-box {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}
.the-lesest {
  margin-top: 70px;
  margin-bottom: 65px;
  margin-left: 7.5%;
  width: 211px;
  height: 49px;
  text-align: left;
  font-size: 40px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.underline-1 {
  margin-top: 5px;
  width: 90px;
  height: 3px;
  background: #f08080 0% 0% no-repeat padding-box;
  opacity: 1;
}
.article-box {
  width: 85%;
  margin: auto;
  display: flex;
}
.article-box-1 {
  width: 65%;
}
.article-box-2 {
  width: 35%;
}
.top-the-lesest {
  margin-top: -5px;
  margin-bottom: 50px;
  margin-left: 5%;
  width: 211px;
  height: 49px;
  text-align: left;
  font-size: 40px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.top-underline-1 {
  margin-top: 5px;
  width: 90px;
  height: 3px;
  background: #f08080 0% 0% no-repeat padding-box;
  opacity: 1;
}
.stories {
  width: 100%;
  margin: auto;
}
.story-box {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.link {
  text-decoration: none;
}


@media (min-width: 320px) and (max-width: 480px) {
  
  .logo {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 13px 16px #0000001a;
    margin-top: 15px;
  }
  .logo1 {
    height: 50px;
    width: 40%;
    margin: 0px;
    margin-left: 3.5%;
    display: flex;
    justify-content: flex-start;
    margin-top: 0px;
  }
  .logo2 {
    font-size: 11px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    transform: rotate(270deg);
    height: 17px;
    margin-top: 5px;
    padding-top: 10px;
  }
  .logo3 {
    font-size: 24px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: bold;
  }
  .navbar {
    height: 280px;
    width: 100%;
    z-index: 11;
    
  }
  .navbar1 {
    height: 300px;
    width: 80%;
    margin: auto;
    z-index: 11;
  }
  .navbar ul {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    z-index: 11;
  
  }
  
  #l1{
    position: absolute;
    top: 40px;
    left: 45%;
    width: 20%;

  }
  #l2{
    position: relative;
    top: 10px;
    left: 45%;
    width: 20%;
  }
  #l3{
    position: relative;
    top: 50px;
    left: 45%;
    width: 20%;


    

  }
  #l4{
    position: relative;
    top: 90px;
    left: 45%;
    width: 20%;

  }
  #l5{
    position: relative;
    top: 130px;
    left: 45%;
    width: 20%;

  }
  #l6{
    position: relative;
    top: 170px;
    left: 45%;
  width: 20%;

  }
  
  .navbar ul li .a {
    text-decoration: none;
    font-size: 18px;
    position: absolute;
    top: 49px;
    width: 125px;
    height: 25px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-align: center;
  }
  
  .a::after {
    content: " ";
    background-color: #000000;
    height: 1.67px;
    border-radius: 100px;
    width: 0%;
    position: relative;
    top: 7px;
    left: 0px;
    transition: 0.3s;
    border: none;
  }
  .a:hover:after {
    width: 100%;
  }
  .togle{
    margin-top: -35px;
  }
  .toglebutton{
    display: none;
  }
  hr {
    border: none;
    height: 2px;
    width: 85%;
    background-color: #f0f0f0;
    margin: auto;
    margin-top: -30px;
  }
  .homesection1 {
    width: 100%;
    height: 415px;
    z-index: 1;
    
  }
  .homebox {
    width: 100%;
    height: 415px;
    margin: auto;
    display: block;
    justify-content: space-between;
    box-shadow: 0px 5px 10px #0000001a;
    z-index: 1;
  }
  .homebox1 {
    width: 100%;
    height: 415px;
    box-shadow: 0px 5px 10px #0000001a;
    z-index: 1;
  }
  .homebox1img1 {
    z-index: 1;
    width: 100%;
    height: 415px;
    background-image: url("/public/images/kristaps-ungurs-MAfrgFrl6BE-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 10px #0000001a;
    border-radius: 7px;
    opacity: 1;
  }
  .homebox1img1-p1 {
    position: relative;
    top: 250px;
    left: 10%;
    width: 80%;
    height: 49px;
    text-align: left;
    font-size: 30px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .homebox1img1-p2 {
    position: relative;
    top: 270px;
    left: 10%;
    width: 80%;
    height: 17px;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0px;
    color: #fcfcfc;
    opacity: 0.57;
  }
  .homebox2 {
    display: none;
    width: 35%;
    height: 506px;
    box-shadow: 0px 5px 10px #0000001a;
  }
  .the-lesest {
    margin-top: 70px;
    margin-bottom: 65px;
    margin-left: 6%;
    width: 70%;
    height: 49px;
    text-align: left;
    font-size: 21px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .the-lesest h1 {
    font-size: 21px;
  }
  .post1-box {
    width: 100%;
    display: block;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: space-between;
  }
  .article-box {
    width: 100%;
    margin: auto;
    display: block;
  }
  .article-box-1 {
    width: 88%;
    margin: auto;
  }
  .top-the-lesest {
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 6%;
    width: 211px;
    height: 49px;
    text-align: left;
    font-size: 20px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .top-the-lesest h1{
    font-size: 21px;
  }
  .top-underline-1 {
    margin-top: 5px;
    width: 90px;
    height: 3px;
    background: #f08080 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .article-box-2 {
    width: 100%;
  }
  .stories {
    width: 100%;
    margin: auto;
  }
  .story-box {
    width: 88%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}